:root {
    /* Color Variables */
    --blue: #1480cc;
    --light-blue: #86cbfc;
    --grey: #5e5e5e;
}

/* Global Styles */
body {
    font-family: Helvetica, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

/* Headings */
h1, h2, h3 {
    color: var(--blue);
}

h1 {
    margin: 2rem 0 2rem 2rem;
}

/* Main Container */
.main {
    max-width: 500px; /* Limit the width of the main container */
    margin: 0 auto; /* Center the container horizontally */
    min-height: 100vh;
    height: 100%;
    background-color: white;
    justify-content: center;
}

@media (max-width: 500px) {
    .main {
        width: 100%; /* Make full width on smaller screens */
    }
}

/* Top Bar */
.top-bar {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 5vh;
    padding: 0 15px;
    background-color: white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
}

.top-bar p {
    position: absolute;
    left: 50%; /* Center horizontally */
    top: 50%; /* Center vertically */
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
}

.top-bar img {
    height: 24px;
    cursor: pointer;
}

.top-bar > *, button, input[type="checkbox"] {
    cursor: pointer;
}

/* Grid Container */
.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr; /* Define column sizes */
    gap: 10px;
    margin: 30px 10px;
    text-align: center;
    align-items: center; /* Vertically align content within the cells */
}

.set {
    display: contents;
}

.set-num:hover {
    background-color: #bd554d;
    color: white;
}

.set-num{
    user-select: none;
}

/* Row Elements */
.row {
    line-height: 2rem;
    font-size: 14px;
    color: var(--grey);
}

/* Input Fields */
input {
    text-align: center;
    box-sizing: border-box;
    width: 100%; /* Ensure uniform width */
    max-width: 80px; /* Limit input size */
    height: 2rem; /* Uniform height */
    padding: 2px;
    font-size: 14px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: auto; /* Keep spinner buttons */
}

input[type="checkbox"] {
    width: 100%;
    height: 100%;
    margin: 0 auto; /* Center checkboxes */
}

/* Exercise Header */
.exercise-header {
    display: contents;
}

.header {
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

/* Exercise Section */
.exercise h3 {
    margin-left: 20px;
    margin-top: 50px;
    color: var(--blue);
}

/* Interactive Text */
.interactive-text {
    font-size: 16px;
    font-weight: 300;
    color: var(--blue);
    height: 100%;
    display: flex;
    align-items: center; /* Vertically align text */
    padding: 0 20px;
    margin-right: -20px;
}

.interactive-text:hover,
button:hover {
    background-color: var(--light-blue);
}

/* Exit Workout Button */
#exit-workout {
    display: block;
    margin: 20px auto; /* Center horizontally */
    text-align: center; /* Center text inside the button */
}

/* Buttons */
button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: var(--blue);
    text-align: center;
    background-color: white;
    border: 3px solid var(--blue);
    cursor: pointer;
    border-radius: 5px;
}

button.add-set {
    all: unset; /* Reset inherited styles */
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: var(--blue);
    text-align: center;
    background-color: white;
    border: 1px solid var(--blue);
    cursor: pointer;
    border-radius: 5px;
}

/* Template */
.template {
    color: var(--grey);
    cursor: pointer;
}
