.template{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.workout{
    width: 90%;
    border: 2px solid #d4d4d4;
    border-radius: 3px;
    margin: 10px 0;
    padding: 0 10px;
    text-decoration: none; /* Remove underlines */
    color: inherit; /* Use the color of the parent element */
}